.side-nav-container {
  display: flex;
}
.side-nav h4 {
  border-radius: 5px;
  background: cornflowerblue;
  shape-outside: square;
  cursor: pointer;
  padding: 10px;
}
.view {
  padding: 15%;
  height: 50px;
  width: 780px;
  display: flex;
  justify-content: space-around;
  background-image: url("https://cdn.britannica.com/67/19367-050-885866B4/Valley-Taurus-Mountains-Turkey.jpg");
}
