.footer {
  margin-top: 50vh;
}

.main-container {
  color: white;
  background-color: #dc3545;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
}
.row {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
}
