/*.header {
  margin-bottom: 100px;
}

nav,
.header-top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-top {
  justify-content: space-between;
  color: white;
  background-color: #dc3545;
  padding-top: 2em;
}
.navitem {
  margin: 0 20px;
}
.login-container {
  justify-content: space-between;
}*/
.header {
  margin-bottom: 100px;
}

.headerNav,
.header-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-top {
  justify-content: space-between;
}

.navitem {
  margin: 0 20px;
}
.nav-item-container:hover .dropdown-custom {
  display: flex;
}

.dropdown-custom {
  display: none;
  flex-direction: column;
  position: absolute;
  text-align: center;
}
